<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>ShareSport</title>


      <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body>

  <div id="app">
    <b-jumbotron bg-variant="primary" text-variant="white" border-variant="dark" header="Users">

        </b-jumbotron>
  <b-table striped show-empty :items="filtered">
    <template slot="top-row" slot-scope="{ fields }">
      <td v-for="field in fields" :key="field.key">
        <input v-model="filters[field.key]" :placeholder="field.label">
      </td>
    </template>
  </b-table>
  </div>

  <script>

      window.app  = new Vue({
          el: '#app',
          data: {
            filters: {
              id: '',
              name: '',
              email: '',
              phone: '',
              birthday: '',
              gender: '',
            },
            items: [],

          },
          created(){
          /*  let client = axios.create({
              baseURL: 'http://localhost:8000/',
              timeout: 1000,
            })
             this.items = client.get("/users")
              .then(response => console.log(response.data))
              .catch(error => console.log(error)) */
              var self = this
              var res = ""
              axios.get("http://localhost:8000/users")
                             .then(response => self.items = response.data.result)
                             .catch(function (error) {
                                 console.log(error);
                             });
               console.log(res)
          },

          computed: {
            filtered () {
              /*axios.get('http://localhost:8000/users')
                .then(response => {
                  this.items=response.data
                  console.log(response.data)
                })
                .catch(error => {
                  console.log(error)
                })*/
                console.log(this.items)
              let filtered =[]
              if (this.items.length>0)
                filtered = this.items.filter(item => {
                   return Object.keys(this.filters).every(key =>
                      String(item[key]).includes(this.filters[key]))
                })

               return filtered.length > 0 ? filtered : [{
                  id: '',
                  name: '',
                  email: '',
                  phone: '',
                  birthday: '',
                  gender: ''
                }]
            }
          }
        })
  </script>
  </body>
</html>
